#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.modal__container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4edff;
  border-radius: 12px;
  width: 600px;
  height: 400px;
  box-shadow: 1px 1px 20px 5px #bda3f4;
}
.todo-list {
  width: 800px;
  border-radius: 20px;
  background-color: #f5f0ff;
  overflow-y: auto;
  height: 600px;
}
.todo-list::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f0ff;
}
.todo-list::-webkit-scrollbar-thumb {
  background-color: #bda3f4;
  border-radius: 10px;
}
.todo-list::-webkit-scrollbar-corner {
  color: black;
}
.todo-list__items {
  list-style: none;
}
.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.todo__title {
  word-break: break-all;
  width: 60%;
  font-weight: 400;
}
.todo__title--bold {
  font-weight: bold;
}
.todo__body button:not(:first-child) {
  margin-left: 0.5rem;
}

.form-edit-todo {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 1rem;
}
